<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>User Registration</title>
</head>
<body>

<div class="navigation">
    <div class="branding">
        <h1>ASK JABU</h1>
        <p>Developed By Sanele Siwela</p>
    </div>
</div>

<div class="main">
        <div class="recent-orders">
            <div class="orders-hearder">
                <h2>Register</h2>
            </div>

            <form th:action="@{/registration/new}" th:object="${registerUser}" method="post">
                <ul>
                    <li>
                        <label for="fullName">Full Name:</label>
                        <input type="text"  th:field="*{fullName}" id="fullName" name="fullName" required minlength="2" maxlength="45">
                    </li>
                    <li>
                        <label for="email">Email:</label>
                        <input type="email" th:field="*{email}" id="email" name="email" required></input>
                    </li>
                    <li>
                        <label for="password">Password:</label>
                        <input type="password" th:field="*{password}" id="password" name="password" required minlength="8"></input>
                    </li>
                    <li class="form-btn">
                        <button type="submit">Register</button>
                        <button style="margin-left: 5px;" onclick="window.location.href='/login'">Sign In</button>
                    </li>
                </ul>
            </form>
        </div>

</div>

</body>
</html>