<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/settings.css}">
    <title>Settings</title>
</head>
<body>

<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="ellipse-outline"></ion-icon></span>
                    <span class="title">ASK JABU</span>
                </a>
            </li>
            <li>
                <a th:href="@{/dashboard}">
                    <span class="icon"><ion-icon name="speedometer-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/vendors}">
                    <span class="icon"><ion-icon name="calculator-outline"></ion-icon></span>
                    <span class="title">Vendors</span>
                </a>
            </li>
            <li>
                <a th:href="@{/orders}">
                    <span class="icon"><ion-icon name="calculator-outline"></ion-icon></span>
                    <span class="title">Orders</span>
                </a>
            </li>
            <li>
                <a th:href="@{/inventory}">
                    <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
                    <span class="title">Inventory</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/categories}">
                    <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
                    <span class="title">Categories</span>
                </a>
            </li>
            <li>
                <a th:href="@{/settings}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <!-- Top Bar -->
        <div class="top-bar">
            <div class="toggle">
                <ion-icon name="menu"></ion-icon>
            </div>
            <!--            <div class="search">-->
            <!--                <label for="">-->
            <!--                    <input type="search" placeholder="Search"/>-->
            <!--                    <ion-icon name="search-outline"></ion-icon>-->
            <!--                </label>-->
            <!--            </div>-->
            <div class="user">
                <h2><span sec:authentication="name"></span></h2>
                <small sec:authorize="hasAnyAuthority('ADMIN')">Admin</small>
                <small sec:authorize="hasAnyAuthority('USER')">User</small>
            </div>
        </div>
        <!-- Cards section -->
        <div sec:authorize="hasAnyAuthority('USER')" class="cards">
            <div class="card active" id="card_1">
                <div>
                    <div class="stats">Vendor Info</div>
                </div>
                <div class="icon">
                    <ion-icon name="globe-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="stats">Notifications</div>
                </div>
                <div class="icon">
                    <ion-icon name="mail-unread-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="stats">Credentials</div>
                </div>
                <div class="icon">
                    <ion-icon name="lock-open-outline"></ion-icon>
                </div>
            </div>

        </div>

        <div sec:authorize="hasAnyAuthority('ADMIN')" class="cards">
            <div class="card active">
                <div>
                    <div class="stats">Notifications</div>
                </div>
                <div class="icon">
                    <ion-icon name="mail-unread-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="stats">Credentials</div>
                </div>
                <div class="icon">
                    <ion-icon name="lock-open-outline"></ion-icon>
                </div>
            </div>

        </div>

        <!-- Summarized Details -->
        <div  class="settings-div">
            <!-- Order Details -->
            <div sec:authorize="hasAnyAuthority('USER')" class="settings" style="display: grid">
                <div class="setting-header">
                    <h2>Vendor Information</h2>
                    <a href="#" class="btn">Edit</a>
                </div>
                <form th:action="@{/settings/vendor-settings}" th:object="${vendor}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>
                    <ul>
                        <li>
                            <label for="vendor_name">Vendor Name:</label>
                            <input type="text"  th:field="*{vendorName}" id="vendor_name" name="vendor_name" required minlength="2" maxlength="45">
                        </li>
                        <li>
                            <label for="operating_hours">Operating  Hours:</label>
                            <input th:field="*{operatingHours}" id="operating_hours" name="operating_hours" required minlength="2" maxlength="200"></input>
                        </li>
                        <li>
                            <label for="operating_hours">Setting_2:</label>
                            <input th:field="*{sector}" id="operating_hours2" name="operating_hours" required minlength="2" maxlength="200"></input>
                        </li>
                        <li>
                            <label>Vendor Image:</label>
                            <img width="150" height="150" th:src="@{${vendor.vendorImagePath}}"/>
                            <input type="file" name="image" required accept="image/png, image/jpeg, image/jpg">
                        </li>

                        <!--                        &lt;!&ndash;                    <li>&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                        <label for="sizes">Sizes:</label>&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                        <input type="text" id="sizes" name="sizes">&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                    </li>&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                    <li>&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                        <label for="colors">Colors:</label>&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                        <input type="text" id="colors" name="colors">&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                    </li>&ndash;&gt;-->
                        <li class="form-btn">
                            <button type="submit">Save Changes</button>
                        </li>
                    </ul>
                </form>
            </div>

            <!-- Notification Settings -->
            <div sec:authorize="hasAnyAuthority('USER','ADMIN')"  class="settings">
                <div class="notification-settings">
                    <ul>
                        <li>
                            <div class="setting-header">
                                <h2>Notification Settings</h2>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="setting-header">
                                <h2>Notification Settings</h2>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </li>
                        <li class="form-btn">
                            <div class="setting-header">
                                <h2>Notification Settings</h2>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Password Settings -->
            <div sec:authorize="hasAnyAuthority('USER','ADMIN')" class="settings">

                <div class="setting-header">
                    <h2>Password Reset</h2>
                </div>
                <form th:action="@{/settings/password-reset}" th:object="${resetUser}" method="post">
                    <ul>
                        <li th:if="${errorMessage}">
                            <h3>[[${errorMessage}]]</h3>
                        </li>
                        <li>
                            <label for="oldPassword">Old Password:</label>
                            <input type="text"  th:field="*{oldPassword}" id="oldPassword" name="oldPassword" required minlength="8">
                        </li>
                        <li>
                            <label for="newPassword">New Password:</label>
                            <input th:field="*{newPassword}" id="newPassword" name="newPassword" required minlength="8"></input>
                        </li>
                        <li class="form-btn">
                            <button type="submit">Reset</button>
                        </li>
                    </ul>
                </form>
            </div>

        </div>

    </div>

    <!--        <div th:insert="index"></div>-->

</div>


<script>

        //Menu Toggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function(){
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
        //Add hover class to selected list item
        let navList = document.querySelectorAll('.navigation li');

        function activeLink(){
            navList.forEach((item)=>{
                item.classList.remove('hovered');
                this.classList.add('hovered');
            });
        }

        navList.forEach((item)=>
        item.addEventListener('onclick',activeLink));

        //Card Toggle
<!--        let cards = document.querySelectorAll(".card");-->

<!--        for (let i = 0; i <= cards.length - 1; i++) {-->
<!--            console.log(cards[i]);-->
<!--        }-->

        document.addEventListener("DOMContentLoaded", function(event) { // <-- add this wrapper
        var cards = document.querySelectorAll('.card');
        var settings = document.querySelectorAll('.settings');

            if (cards) {

              cards.forEach(function(card, index){

                 card.addEventListener('click', function () {

                    card.classList.toggle("active");
                    console.log(settings[index].style)
                    settings[index].style.display= settings[index].style.display == "grid" ? "none" : "grid"

                     cards.forEach(function(elements, key){
                         if(index !== key) {
                             elements.classList.remove('active');
                             settings[key].style.display = "none"
                         }
                     });
                 });
              });
            }
        });



    </script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>